<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:replace="~{fragment/header.html}">
    <title>Проверка на тест</title>
</head>
<body>
<h2 class="text-center p-4 text-white ">ПРОВЕРКА НА ТЕСТ</h2>
<div class="container col-8">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <div class="col d-flex justify-content-center align-items-center">
            <table class="table table-striped table-dark table-bordered table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Въпрос</th>
                    <th scope="col">Верни отговори</th>
                    <th scope="col">Дадени отговори</th>
                    <th scope="col">Верен</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr th:each="studentAnswer : ${testResult.testStudentAnswerList}">
                    <td>
                        <span th:text="${studentAnswer.question.question}"> Въпрос </span>
                    </td>
                    <td>
                       <span th:if="${studentAnswer.question.answerList != null}">
                        <ul>
                           <li th:each="answer : ${studentAnswer.question.answerList}" th:if="${answer.correct}" th:text="${answer.answer}">Отговори</li>
                        </ul>
                        </span>
                    </td>
                    <td>
                       <span th:if="${testResult.testStudentAnswerList != null}">
                        <ul>
                            <li  th:text="${studentAnswer.answer}">Отговори</li>
                        </ul>
                        </span>
                    </td>
                    <td>
                        <span th:text="${studentAnswer.correct ? 'Да' : 'Не'}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="savemessage">
    <p style="text-align:center" th:text="|${message}|" />
    </p>
</div>
</body>
</html>