<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="~{fragment/header.html}">
    <title>Добавяне на лекция</title>
</head>
<body>
<h2 class="text-center p-4 text-white">ДОБАВИ ЛЕКЦИЯ</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 col-auto">
            <form action="" th:action="@{/lecture/add}" th:object="${lecture}" method="post" >
                <div class="form-group">
                    <label class="text-white" for="module">Модул*</label>
                    <select class="form-select" id="module" th:field="*{module.id}">
                        <option th:each="module : ${moduleList}" th:text="${module.name}" th:value="${module.id}">
                    </select>
                </div>
                <div class="form-group">
                    <label class="text-white" for="name">Лекция*</label>
                    <div class="message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Наименование на лекцията">
                </div>
                <div class="form-group">
                    <label class="text-white" for="description">Описание</label>
                    <input type="text" class="form-control" id="description" th:field="*{description}" placeholder="Описание на лекцията">
                </div>
                <div class="form-group">
                    <label class="text-white" for="video">Видео</label>
                    <input type="text" class="form-control" id="video" th:field="*{video}" placeholder="Видео">
                </div>
                <div class="form-group">
                    <label class="text-white" for="presentation">Презентация</label>
                    <input type="text" class="form-control" id="presentation" th:field="*{presentation}" placeholder="Презентация">
                </div>
                <div class="form-group">
                    <label class="text-white" for="startDate">Дата*</label>
                    <div class="message" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
                    <input type="date" class="form-control" id="startDate" th:field="*{startDate}">
                </div>

                <div class="row justify-content-center ">
                    <div class="col-auto mt-4">
                        <button class="btn btn-success btn-form" type="submit">Запиши</button>
                    </div>
                    <div class="col-auto mt-4">
                        <button class="btn btn-danger btn-form" type="button" onclick="window.location.href='../lecture/select-course'">Отказ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="savemessage">
    <p style="text-align:center" th:text="|${message}|"/></p>
</div>
</body>
</html>
