<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:replace="~{fragment/header.html}">
    <title>Списък на лекциите</title>
</head>
<body>
<h2 class="text-center p-4 text-white ">СПИСЪК НА ЛЕКЦИИТЕ</h2>
<div class="container col-11">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <div class="col d-flex justify-content-center align-items-center">
            <table class="table table-striped table-dark table-bordered table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Курс</th>
                    <th scope="col">Модул</th>
                    <th scope="col">Лекция</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Презентация</th>
                    <th scope="col">Видео</th>
                    <th scope="col">Тест</th>
                    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_TEACHER')">
                    <th></th>
                    <th></th>
                    </div>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr th:if="${lectureList.empty}">
                    <td style="text-align:center" colspan="10"> Няма налични лекции. </td>
                </tr>
                <tr th:each="lecture : ${lectureList}">
                    <td><span th:text="${lecture.module.course.name}"> Курс </span></td>
                    <td><span th:text="${lecture.module.name}"> Модул </span></td>
                    <td><span th:text="${lecture.name}"> Лекция </span></td>
                    <td><span th:text="${lecture.description}"> Описание </span></td>
                    <td>
                         <span th:if="${lecture.presentation != ''}">
                        <a th:href="${lecture.presentation}" target="_blank" class="btn btn-success btn-block">Покажи</a>
                         </span>
                        <span th:if="${lecture.presentation == ''}">Липсва</span>
                    </td>
                    <td><iframe class="embed-responsive-item" th:src="${lecture.video}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen ></iframe></td>
                    <td>
                        <span th:if="${lecture.test != null}">
                            <form th:action="@{/test/start}" th:object="${id}" method="get">
                            <input type="hidden" name="id" th:value="${lecture.test.id}" />
                            <input class="btn btn-success btn-block" type="submit" value="Реши"/>
                        </form>
                            <ul>
                              <li><span th:text="${lecture.test.name}">Тест</span></li>
                              <li><span th:text="${lecture.test.time + ' минути'}">Време</span></li>
                              <li><span th:text="${lecture.test.questionsNumber + ' въпроса'}">Брой въпроси</span></li>
                              <li><span th:text="${lecture.test.minPassingPercentage + ' % минимум'}">Минимален процент</span></li>
                                <li><span th:text="${lecture.test.mandatory ? 'Задължителен' : 'Пожелание'}">Задължителен ли е</span></li>
                            </ul>
                        </span>
                        <span th:if="${lecture.test == null}">Липсва</span>
                    </td>
                    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_TEACHER')">
                    <td>
                        <form th:action="@{/lecture/edit}" th:object="${id}" method="get">
                            <input type="hidden" name="id" th:value="${lecture.id}" />
                            <input class="btn btn-warning btn-block" type="submit" value="Редактирай"/>
                        </form>
                    </td>
                    <td th:if="${#authorization.expression('isAuthenticated()')}">
                        <form th:action="@{/lecture/delete}" th:object="${id}" method="post">
                            <input type="hidden" name="id" th:value="${lecture.id}" />
                            <input class="btn btn-danger btn-block" type="submit" value="Изтрий"/>
                        </form>
                    </td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="savemessage">
    <p style="text-align:center" th:text="|${message}|"/></p>
</div>
</body>
</html>