<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:replace="~{fragment/header.html}">
    <title>Добавяне на лекция</title>
</head>

<body>
<h2 class="text-center p-4 text-white">ДОБАВИ ЛЕКЦИЯ</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 col-auto">
            <form action="" th:action="@{/lecture/select-course}" th:object="${id}" method="post">
                <div class="form-group">
                    <label class="text-white" for="course">Курс</label>
                    <select class="form-select" name="id" id="course">
                        <option th:each="course : ${courseList}" th:text="${course.name}" th:value="${course.id}">
                    </select>
                </div>
                <div class="row justify-content-center ">
                    <div class="col-auto mt-4">
                        <button class="btn btn-success btn-form" type="submit">Избери</button>
                    </div>
                    <div class="col-auto mt-4">
                        <button class="btn btn-danger btn-form" type="button" onclick="window.location.href='../'">Отказ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="savemessage">
    <p style="text-align:center" th:text="|${message}|" /></p>
</div>
</body>

</html>