<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="~{fragment/header.html}">
    <title>Редактиране на курс</title>
</head>
<body>
<h2 class="text-center p-4 text-white">РЕДАКТИРАЙ КУРС</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 col-auto">
            <form action="" th:action="@{/course/edit}" th:object="${course}" method="post">
                <div class="form-group">
                    <input type="hidden" name="id" th:value="${course.id}"/>
                    <label class="text-white" for="name">Наименование*</label>
                    <div class="message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Наименование на курса">
                </div>
                <div class="form-group">
                    <label class="text-white" for="description">Описание</label>
                    <div class="message" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                    <input type="text" class="form-control" id="description" th:field="*{description}" placeholder="Описание на курса">
                </div>
                <div class="form-group">
                    <label class="text-white" for="type">Тип*</label>
                    <select class="form-select" id="type" th:field="*{type}">
                        <option th:each="type : ${typeList}" th:text="${type.getLabel}" th:value="${type.name}">
                    </select>
                </div>
                <div class="form-group">
                    <label class="text-white" for="status">Статус*</label>
                    <select class="form-select" id="status" th:field="*{status}">
                        <option th:each="status : ${statusList}" th:text="${status.getLabel}" th:value="${status.name}">
                    </select>
                </div>
                <div class="form-group">
                    <label class="text-white" for="city">Град</label>
                    <div class="message" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
                    <input type="text" class="form-control" id="city" th:field="*{city}" placeholder="Град">
                </div>
                <div class="form-group">
                    <label class="text-white" for="startDate">Начална дата*</label>
                    <div class="message" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
                    <input type="date" class="form-control" id="startDate" th:field="*{startDate}">
                </div>
                <div class="form-group">
                    <label class="text-white" for="name">Лектори</label>
                    <div class="message" th:if="${#fields.hasErrors('teacherSet')}" th:errors="*{teacherSet}"></div>
                    <select class="form-select" multiple th:field="*{teacherSet}">
                        <option th:each="teacher : ${teacherList}"
                                th:text="${teacher.firstName + ' ' + teacher.lastName}"
                                th:value="${teacher.id}">
                    </select>
                </div>
                <div class="row justify-content-center ">
                    <div class="col-auto mt-4">
                        <button class="btn btn-success btn-form" type="submit">Редактирай</button>
                    </div>
                    <div class="col-auto mt-4">
                        <button class="btn btn-danger btn-form" type="button" onclick="window.location.href='../course/list'">Отказ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="savemessage">
    <p style="text-align:center" th:text="|${message}|"/></p>
</div>
</body>
</html>
