<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="~{fragment/header.html}">
    <title>Вход за потребители</title>
</head>
<body>
<h2 class="text-center p-4 text-white">ВХОД</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 col-auto">
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label class="text-white" for="usernameOrEmail">Потребителско име:</label>
                    <input type="text" class="form-control" id="usernameOrEmail" name="usernameOrEmail" placeholder="Потребителско име или e-mail">
                </div>
                <div class="form-group">
                    <label class="text-white" for="password">Парола</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Парола">
                </div>
                <div class="row justify-content-center ">
                    <div class="col-auto mt-4">
                        <button class="btn btn-success btn-form" type="submit">Вход</button>
                    </div>
                    <div class="col-auto mt-4">
                        <button class="btn btn-danger btn-form" type="button" onclick="window.location.href='../'">Отказ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:if="${param.error}" class="savemessage">
    <p style="text-align:center"/>Грешно потребителско име или парола!</p>
</div>
</body>
</html>