<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="~{fragment/header.html}">
    <title>Профил на потребителя</title>
</head>
<body>
<h2 class="text-center p-4 text-white">ПРОФИЛ НА ПОТРЕБИТЕЛЯ</h2>
<div class="container col-4">
    <!--    <div class="table-wrapper-scroll-y my-custom-scrollbar">-->
    <div class="col d-flex justify-content-center align-items-center ">
        <table class="table table-dark ">
            <tbody class="table-group-divider">
            <tr>
                <td>Роля</td>
                <td><span th:text="${loggedUser.userRole.getLabel}"></span></td>
            </tr>
            <tr>
                <td>Потребителско име</td>
                <td><span th:text="${loggedUser.username}"></span></td>
            </tr>
            <tr>
                <td>Име</td>
                <td><span th:text="${loggedUser.firstName}"></span></td>
            </tr>
            <tr>
                <td>Фамилия</td>
                <td><span th:text="${loggedUser.lastName}"></span></td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td><span th:text="${loggedUser.email}"></span></td>
            </tr>
            <tr>
                <td>Възраст</td>
                <td><span th:text="${loggedUser.age}"></span></td>
            </tr>
            <tr>
                <td>Населено място</td>
                <td><span th:text="${loggedUser.city}"></span></td>
            </tr>
            <tr>
                <td>Опит</td>
                <td><span th:text="${loggedUser.experience}"></span></td>
            </tr>
            <tr>
                <td>Интереси</td>
                <td><span th:text="${loggedUser.interests}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row justify-content-center ">
    <div class="col-auto mt-4">
        <button class="btn btn-success btn-form" type="submit">Редактирай</button>
    </div>
    <div class="col-auto mt-4">
        <button class="btn btn-danger btn-form" type="button" onclick="window.location.href='../'">Отказ</button>
    </div>
</div>
</body>
</html>